@import "boats";
* {
  margin: 0px;
  padding: 0px;
  }
  
.header {
  width: 100%;
  height: 150px;
  background-color: blue;
  color: white;
  &__logo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    &--link {
      text-decoration: none;
      color: white;
    }
  }
  &__message {
    text-align: center;
  }
  &__user {
    float: right;
    &--btn{
      text-decoration: none;
      color: white;
    }
  }
}

.content {
  width: 100%;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  &__share {
    &--link{
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}