@import "boats";
@import "new";
@import "show";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import 'bootstrap-datetimepicker';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  }

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #edf0f1;
  text-decoration: none;
}
  
.header {
  width: 100%;
  height: 100px;
  background-color: #24252A;
  color: #edf0fe;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px, 10%;
  &__logo {
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-right: auto;
    &--link {
      text-decoration: none;
      color: #edf0fe;
      font-size: 30px;
    }
  }
  &__message {
    text-align: center;
  }
  &__user {
    padding: 0 20px;
    &--info {
      transition: all 0.3s ease 0s;
      display: flex;
      width: 200px;
      justify-content: space-between;
    }
    &--info li {
     list-style: none;
    }
    &--info :hover {
      color: #0088a9;
    }
    &--login, &--signup {
    margin-right: 20px;
    padding: 9px 10px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }
    &--login:hover {
      background-color: rgba(0,136,169,0.8);
    }
    &--signup:hover {
      background-color: rgba(0,136,169,0.8);
    }
  }
  &__btn {
    margin-right: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  &__btn:hover {
    background-color: rgba(0,136,169,0.8);
  }
}


.content {
  width: 100%;
}

.footer {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 0;
  background-color: #24252A;
  color: #edf0fe;
  &__message {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  &__icons{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    &--facebook{
      margin-left: 35%;
      text-align: center;
      padding-top: 8px;
      background-color: rgba(0,136,169,1);
      height: 40px;
      width: 40px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.4 ease 0s;
      color: #edf0fe;
    }
    &--twitter{
      text-align: center;
      padding-top: 8px;
      background-color: rgba(0,136,169,1);
      height: 40px;
      width: 40px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.4 ease 0s;
      color: #edf0fe;
    }
    &--youtube{
      text-align: center;
      padding-top: 8px;
      background-color: rgba(0,136,169,1);
      height: 40px;
      width: 40px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.4 ease 0s;
      color: #edf0fe;
    }
    &--instagram{
      margin-right: 35%;
      text-align: center;
      padding-top: 8px;
      background-color: rgba(0,136,169,1);
      height: 40px;
      width: 40px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.4 ease 0s;
      color: #edf0fe;
    }
    &--facebook:hover {
      background-color: rgba(0,136,169,0.8);
    } 
    &--twitter:hover {
      background-color: rgba(0,136,169,0.8);
    } 
    &--youtube:hover {
      background-color: rgba(0,136,169,0.8);
    } 
    &--instagram:hover {
      background-color: rgba(0,136,169,0.8);
    }
  }
}