* {
  margin: 0px;
  padding: 0px;
  }
  
.header {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: blue;
  color: white;
  &__logo {
    font-size: 20px;
    font-weight: bold;
    &--link {
      text-decoration: none;
      color: white;
    }
  }
  &__message {
  }
}

.footer {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  &__share {
    &--link{
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}