@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


.top-wrapper {
  height: 80vh;
  padding: 27vh;
  text-align: center;
  &__message {
   &--top {
    font-family: 'Abril Fatface', cursive;
     font-size: 60px;
   }
   &--bottom {
     font-size: 25px;
     font-weight: bold;
     margin: 10px;
   }
  }
  .search-form {
    &__input {
      background-color: #0088a9;
      height: 40px;
      width: 240px;
      padding: 9px 10px;
      border: none;
      border-radius: 50px;

    }
    ::-webkit-input-placeholder{
      color: #edf0fe;
    }
    &__btn {
      background-color: rgba(0,136,169,1);
      height: 40px;
      width: 40px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.4 ease 0s;
      color: #edf0fe;
    }
    &__btn:hover {
      background-color: rgba(0,136,169,0.8);
    }
  }
}


.boat-wrapper {
  background-color: yellow;

  &__header {
    width: 100%;
    font-weight: bold;
    text-align: center;
  }
}


// &__post {
//   background-size: contain;
//   background-repeat: no-repeat;
//   width: 500px;
//   height: 300px;
//   margin: 20px;
//   color: white;
// }
// &__more {

// }
// &__info {
  
// }
