@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


.top-wrapper {
  height: 80vh;
  padding: 27vh;
  text-align: center;
  background-image: url(oleksandr-hrebelnyk-ckZU2xZUjO8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__message {
    color: #edf0fe;
   &--top {
    font-family: 'Abril Fatface', cursive;
     font-size: 60px;

   }
   &--bottom {
     font-size: 25px;
     font-weight: bold;
     margin: 10px;
   }
  }
  .search-form {
    &__input {
      background-color: #0088a9;
      height: 40px;
      width: 240px;
      padding: 9px 10px;
      border: none;
      border-radius: 50px;

    }
    ::-webkit-input-placeholder{
      color: #edf0fe;
    }
    &__btn {
      background-color: rgba(0,136,169,1);
      height: 40px;
      width: 40px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.4 ease 0s;
      color: #edf0fe;
    }
    &__btn:hover {
      background-color: rgba(0,136,169,0.8);
    }
  }
}

.boat-wrapper {
  background-color: yellow;
  &__top {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  &__post {
    width: 350px;
    height: auto;
    background-color:  #0088a9;
    margin: 0 0 20px 30px;
    border-radius: 20px;

    &--image {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center;
    }
    &--more {
      float: right;
      padding-right: 20px;
    }
    &--info {
      padding: 20px;
    }
  }
}


// &__post {
//   background-size: contain;
//   background-repeat: no-repeat;
//   width: 500px;
//   height: 300px;
//   margin: 20px;
//   color: white;
// }
// &__more {

// }
// &__info {
  
// }
