// Place all the styles related to the boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content {
  background-color: yellow;
  display: flex;
  &__post {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    margin: 20px;
    color: white;
  }
}