.boat-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10vh 0;
  font-size: 14px;
  &__field {
    text-align: center;
    align-items: center;
    width: 700px;
    height: auto;
    padding: 20px 30px;
    background-color: yellow;
    input, select{
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: inherit;
      height: 48px;
      margin: 15px 0;
      outline: none;
      padding: 0 16px;
      width: 620px;
    }
    textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: #222;
      font-size: 16px;
      margin: 15px 0;
      outline: none;
      padding: 13px 16px;
      width: 620px;
      height: 154px;
    }
  }
}