.boat-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10vh 0;
  font-size: 14px;
  &__field {
    text-align: center;
    align-items: center;
    width: 700px;
    height: auto;
    padding: 20px 30px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    .error-message {
      color:#262626; 
      background:#FFEBE8;
      text-align: center;
      border:2px solid #990000;
      border-radius: 50px;
      padding:10px; 
      font-weight:850;
      margin: 10px;
    }
    input, select{
      border: 1px solid #ccc;
      border-radius: 50px;
      box-sizing: border-box;
      font-size: inherit;
      height: 48px;
      margin: 15px 0;
      outline: none;
      padding: 0 16px;
      width: 620px;
    }
    textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: #222;
      font-size: 16px;
      margin: 15px 0;
      outline: none;
      padding: 13px 16px;
      width: 620px;
      height: 154px;
    }
    label {
      font-weight: bold;
    }
    &--btn {
      cursor: pointer;
      background-color: rgba(0,136,169,1);
      transition: all 0.3s ease 0s;
      color: #edf0ed;
      border: none;
    }
    &--btn:hover {
      background-color: rgba(0,136,169,0.8);
    }
  }
}
