.boat {
  width: 100%;
  &__image {
    width: 100%;
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__main {
    background-color: yellow;
    height: 500px;
    display: flex;
    justify-content: center;
    &__left {
      width: 550px;
      background-color: green;
    }
    &__right {
      width: 300px;
      background-color: coral;
    }
  }
  &__map {
    width: 100%;
    height: 75vh;
    background-color: orange;
  }
  &__recommendations {
    width: 100%;
    height: 45vh;
    background-color: blue;
  }
}