
.top-wrapper
  .top-wrapper__message 
    .top-wrapper__message--top
      Way Better Than A Rental Kayak
    .top-wrapper__message--bottom
      book unforgettable boats from trusted hosts in Japan
  = form_with(url: search_boats_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "船を検索する", class: "search-form__input"
    = form.submit "検索", class: "search-form__btn"


.boat-wrapper
  .boat-wrapper__top
    You Might Like
  - @boats.each do |boat|
    = render partial: "boat", locals: { boat: boat } #localsオプションは部分テンプレート内でその変数が使えるようにする

